
<div class="theCenterBox" style="">
  <style>
.theCenterBox{width:670px;height:526px;}
</style>
  <div class="theLoginBox" style="width:657px">
  <h1>{{tip}}</h1>  
</div>
<div><a style="color:blue;margin:12px" href="">去主页</a></div>
