
<div class="title">
 {{tip}}
</div>
<div class="theCenterBox" style="">
  <style>
.theCenterBox{width:670px;}
</style>
  <div class="theLoginBox" style="width:657px">
    <div class="loginTxt">登录</div>
    <form id="leftForm" action="login" method="post">
      <div class="theLoginArea" id="loginBox">
        <p style="position: relative;">
          <label for="LoginForm_email">邮箱：</label>
          <input placeholder="请输入您的邮箱" name="email" id="LoginForm_email" type="text" maxlength="255" />
          <span></span> </p>
        <p style="position: relative;">
          <label for="LoginForm_password">密码：</label>
          <input placeholder="请输入您的密码" name="password" id="LoginForm_password" type="password" maxlength="16" />
          <span></span> </p>
        <div class="loginSubmitBnt">
          <div class="reg_submit">
            <input class="theSubmitButton login" value="登录" type="button" />
          </div>
        </div>
      </div>
      <div class="theRegArea fixRegHeight" id="reg_reg">
        <h2>没有邀请码？</h2>
        <br/>
        <a class="apply_reg" href="#"></a> <br/>
        <h2>已经有账号？</h2>
        <br/>
        <a class="reg_login" href="index.html"></a> </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="/font/to_login.js"></script>

